/* footer.css */

footer {
    position:static;
    bottom:0;
    background-color:var(--text7-color);
    color: var(--text2-color);
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }
  
  .footer-content {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 15px;
  }
  
  .footer-logo img {
    max-width: 150px;
  }

  .footer-logo p {
    font-size: 0.8rem;
    color: var(--text2-color);
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links a,
  .footer-contact p, 
  .footer-bottom p{
    color: var(--background-color);
    text-decoration: none;
    margin: 10px 0;
    display: block;
  }
  
  .footer-links a:hover {
    color:var(--primary-color);
  }
  
  .footer-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%; /* İkonları yuvarlak yapar */
    background-color: var(--background2-color); /* Arka plan rengi */
    color: var(--text-color); /* İkon rengi */
    font-size: 20px; /* İkon boyutu */
    margin: 0 8px; /* İkonlar arasındaki boşluk */
    transition: all 0.3s ease; /* Yumuşak geçiş efekti */
}

.footer-social a:hover {
    background-color: var(--highlight-color); /* Hover durumda arka plan rengi */
    color: var(--text-color); /* Hover durumda ikon rengi */
    transform: scale(1.2); /* Hover durumda ikon büyür */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hafif bir gölge efekti */
}

.footer-social a i {
    vertical-align: middle; /* İkonların dikey hizalamasını düzeltir */
}

  
  .footer-bottom {
    border-top: 1px solid #777;
    padding-top: 10px;
  }


  .designed-by-link {
    color: var(--text4-color);
    text-decoration: none;
  }
  .designed-by-link:hover {
    color: var(--highlight-color); /* Hover text rengi */
    background-color: var(--green2-color); /* Hover arka plan rengi */
  }

  .footer-bottom a{
    color: var(--text2-color);
    text-decoration: none;
  }



/* Responsive */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin-bottom: 30px;
  }

  .scroll-to-top {
    display: none;
  }
}
