/* Genel ayarlar */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px;;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background-color: var(--background-light);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--background-color);
 
}

.header-top img {
  position: absolute;
  top: 10px;
  left: 0;
  display: inline-block;
  height: 130px;
  width: auto;
  z-index: 2000000;
  content: url('../assets/logo.png'); /* Desktop logo */
}

.top-links a {
  color: var(--text-color);
  margin-right: 10px;
  text-decoration: none;
}

.top-links a:hover {
  color: var(--highlight-color);
  text-decoration: none;
}

#menu-toggle {
  cursor: pointer;
}

/* Ana Menü */
.pastoral-main-nav {
  position:absolute;
  bottom: 0;
  right: 0;;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 96%;
  padding-right: 6px;
  z-index: 100000;
  background-color: var(--background-color);
 
}

.pastoral-main-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

/* Nav Butonları */
.pastoral-nav-button {
  background-color: var(--highlight-color);
  color: var(--text-color);
  padding: 15px 10px;
  text-decoration: none;
  display: block;
  font-weight: bold;
  border: 0.1px solid var(--border-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pastoral-nav-button:hover {
  background-color: var(--background2-color);
  color: var(--text-color);
  text-decoration: none;
}

/* Icon için temel stil */
.pastoral-nav-button i {
  margin-right: 8px;
  color: var(--text2-color); /* Icon rengi */
  font-size: 24px; /* Icon boyutu */
  vertical-align: middle; /* Icon'u metinle hizalar */
}

/* Hover durumda ikonun rengini değiştirme */
.pastoral-nav-button:hover i {
  color: var(--text-color); /* Hover durumunda ikon rengi değişir */
}

/* Menü Buton Renkleri */
#kurumsal { background-color: var(--green2-color); color: var(--text2-color);}
#belgeler { background-color: var(--dark-color); color: var(--text2-color);}
#hizmetler { background-color: var(--text5-color); color: var(--text2-color);}
#kurumsal:hover,#belgeler:hover,#hizmetler:hover {
  background-color: var(--background2-color);
  color: var(--text-color);
  text-decoration: none;
}

/* Dropdown Menü İçin Yatay Sıralama */
.pastoral-dropdown-content {
  display: none;
  position: fixed;
  top: 150px;
  left: 0;
  background-color: var(--background2-color);
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

/* Alt linklerin sütunlar halinde gelmesi için */
.pastoral-dropdown-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 20px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.pastoral-dropdown-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Linklerin üstte kalmasını sağlar */
  height: 100%; /* Sütunların eşit yükseklikte olmasını sağlar */
  flex: 1;
  min-width: 200px; /* Her bir sütunun minimum genişliği */
}

/* Sadece üst seviye linkleri hedef al */
.pastoral-dropdown-column .upper-level {
  flex-basis: 30%; /* Her üst kategoriye genişlik ver */
  margin-right: 30px; /* Daha fazla boşluk sağlamak için */
  font-weight: bold;
  padding: 10px;
  color: var(--text2-color); /* Varsayılan renk */
  border: 1px solid var(--border-color);
}

.pastoral-dropdown-column .upper-level:hover {
  color: var(--text-color);
  background-color: var(--background2-color);
}

.kurumsal-dropdown .upper-level { background-color: var(--green2-color);}
.belgeler-dropdown .upper-level { background-color: var(--dark-color);}
.hizmetler-dropdown .upper-level { background-color: var(--text5-color);}

/* Sadece üst seviye linkleri hedef al bitti*/

/* Sutunlar */
.pastoral-dropdown-column ul {
  flex-grow: 1; /* Sütunların eşit yükseklikte olmasını sağlar */
  display: flex;
  justify-content: flex-start; /* Linkler yukarıda kalır */
  gap: 10px; /* Linkler arasındaki boşluk */
}

/* Flex özelliği ile sütunların eşit genişlikte olması */
.pastoral-dropdown-column ul li {
  width: 100%; /* Eşit genişlik */
}

/* Alt başlıklar (Linkler) */
.pastoral-dropdown-column ul li a {
  padding: 10px 15px;
  text-decoration: none;
  color: var(--text-color);
  display: inline-block;
  width: 100%; /* Genişlik sabit */
  text-align: left;
  box-sizing: border-box; /* Padding dahil genişlik hesaplama */
  background-color: var(--background2-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pastoral-dropdown-column ul li ul {
  display: flex;
  flex-direction: column; /* Alt linkler column şeklinde dizilecek */
  margin-top: 10px;
  width: 100%;
}

/* en alt menu */
.pastoral-dropdown-column ul li ul li a {
  color: var(--text-color);
  padding: 5px 12px;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background2-color);
}

.pastoral-dropdown-column ul li ul li a:hover {
  color: var(--text2-color);
  background-color: var(--background2-color);
}

.kurumsal-dropdown ul li ul li a:hover {
  background-color: var(--green2-color);
}
.belgeler-dropdown ul li ul li a:hover {
  background-color: var(--dark-color);
}
.hizmetler-dropdown ul li ul li a:hover {
  background-color: var(--text5-color);
}

/* en alt menu sonu */

/* Dropdown Menü Gösterimi */
.pastoral-show {
  display: flex;
}

/* Mobil görünüm için hamburger menüsü */
@media screen and (max-width: 768px) {
  header {
    height: 80px;
  }

  .header-top {
    padding: 10px;
    height: 80px;
    
  }
  .header-top img {
    top:0;
    content: url('../assets/logo.png'); /* Desktop logo */
    height: 80px;
    z-index: 1000;
  }

  .pastoral-top-links a {
    display: none;
  }

  /* Mobil menüde overflow ekleyerek kaydırma sağlama */

  .pastoral-main-nav {
    padding: 0;
    z-index: 1100;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    padding-top: 80px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: transform 0.4s ease, opacity 0.4s ease;
  }

  .pastoral-main-nav.pastoral-mobile-visible {
    display: flex;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .pastoral-main-nav ul {
    flex-direction: column;
    width: 100%;
  }

  .pastoral-nav-button {
    width: 100%;
    padding: 15px 20px;
  }

  /* Hamburger Menü Stili */
  #menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
    width: 30px;
    height: 21px;
    z-index: 1500;
  }

  #menu-toggle .bar {
    height: 3px;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 10px;
    transition: all 0.3s ease;
  }

  /* Hamburger Menü Açıldığında X İşaretine Dönüşmesi */
  #menu-toggle.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  #menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
  }

  #menu-toggle.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  /* Dropdown menü konum ve görünüm */
  .pastoral-dropdown-content {
    position: fixed;
    top: 296px;
    width: 100%;
    max-height: 70vh; /* Daha fazla içerik için max yükseklik */
    padding: 4px;
    background-color: var(--background2-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1200;
    overflow-y: auto; /* Yatay kaydırmayı gizleyerek yalnızca dikey kaydırma sağlar */
    overflow-x: hidden;
    scroll-behavior: smooth; /* Kaydırmayı daha yumuşak hale getirir */
    -webkit-overflow-scrolling: touch; /* Mobil cihazlarda doğal kaydırma */
    box-sizing: border-box;
  }

  .pastoral-dropdown-content ul li a {
    padding: 5px 15px;
    font-size: 14px;
    color: var(--primary-color);
  }

  .pastoral-dropdown-content ul li a:hover {
    background-color: var(--background-color-hover);
    color: var(--text-color);
  }

  /* Dropdown Menü Gösterimi */
  .pastoral-show {
    display: flex;
  }

  /* X işaretine dönüş animasyonu */
  .rotate-down {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .rotate-up {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .hide {
    opacity: 0;
  }
  .top-links {
    display: flex; /* Flex düzenlemesi yapar */
    justify-content: center; /* Tüm ikonları yatayda ortalar */
    align-items: center; /* Dikeyde hizalar */
    gap: 10px; /* İkonlar arasında boşluk */
  }

  .top-links a {
    display: flex; /* Flex düzenleme */
    justify-content: center; /* İkonu ortalar */
    align-items: center; /* Dikey hizalama */
    width: 40px; /* Sabit genişlik */
    height: 40px; /* Sabit yükseklik */
    border-radius: 50%; /* Yuvarlak butonlar için */
    background-color: var(--background-color); /* Arka plan rengi */
  }

  .top-links a i {
    font-size: 20px; /* İkon boyutu */
    color: var(--text-color); /* İkon rengi */
  }

  .top-links a span {
    display: none; /* Metni gizler */
  }




}
