/* Sidebar ve içerik bölümü */
.container {
  display: flex;
  justify-content: space-between;
  padding:20px; /* Üst ve alt boşluk */
  margin: 0 auto; /* Ortala */
  max-width: 1100px; /* Maksimum genişlik */
  gap: 20px; /* Daha fazla boşluk için */
}

/* Sidebar stil */
.sidebar {
  width: 25%;
  background-color: var(--background2-color);
  padding: 20px;
  border-right: 1px solid var(--border-color);
}

.sidebar h2 {
  color: var(--primary-color);
  margin-bottom: 20px; /* Başlık altına boşluk */
  text-align: left; /* Hizalama */
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px; /* Daha fazla boşluk */
}

.sidebar ul li a {
  text-decoration: none;
  color: var(--text3-color);
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1.5px;
  padding: 10px;
  display: block;
  transition: all 0.3s ease; /* Hover geçişi için */
  background-color: var(--background-color);
}

.sidebar ul li a:hover {
  color: var(--highlight-color);
  background-color: var(
    --background3-color
  ); /* Hover sırasında arka plan rengi */
}

/* Content area stil */
.content-area {
  width: 70%;
  padding: 20px;
  background-color: var(--background2-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge */
}

.content-area .text {
  font-size: 1.1rem;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

.content-area h1,
.content-area h2,
.content-area h3,
.content-area h4 {
  margin-bottom: 20px;
  color: var(--primary-color);
  text-align: left;
  border-bottom: 2px solid var(--primary-color); /* Başlık altına çizgi */
  padding-bottom: 10px;
}

.content-area ol, .content-area ul {
  list-style: decimal inside; /* Numaralı liste için içeride numaralandırma */
  margin-bottom: 20px;
  line-height: 1.5;
  letter-spacing: 1.5px;
  padding-left: 15px; /* Liste elemanlarına biraz iç boşluk ekler */
}

.content-area ol li, .content-area ul li {
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--text3-color);
}

.content-area img {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 5px; /* Köşeleri hafif yuvarlar */
  margin-bottom: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
}

.content-area label {
  font-weight: bold;
  color: var(--text3-color);
}

.content-area input[type="text"], 
.content-area input[type="number"], 
.content-area textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.content-area #result {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--background3-color);
  color: var(--button-text-color, white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.content-area button {
  padding: 10px 20px;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  border-radius: var(--button-border-radius);
  cursor: pointer;
}

/* Ürün resimleri galerisi */
.product-images {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
}

.product-images div {
  flex: 1 1 calc(33.333% - 20px); /* Üçlü sütun yapısı */
  text-align: center;
  margin-bottom: 20px;
}

.product-images img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.product-images p {
  margin-top: 10px;
  font-size: 0.9rem;
  color: var(--text3-color);
}

/* Galeri için flex yapı */
.product-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin-top: 20px;
}

/* Her bir ürün için stil */
.gallery-item {
  text-align: center;
  width: 200px; /* Standart genişlik */
  height: auto; /* Yükseklik otomatik ayarlanacak */
}

/* Resimlerin boyutları */
.gallery-item img {
  width: 100%; /* Yatayda tam genişlik */
  height: 150px; /* Standart yükseklik */
  object-fit: cover; /* Resimleri ortalar ve kırpmadan sığdırır */
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s ease; /* Hover sırasında efekt */
}

.gallery-item img:hover {
  transform: scale(1.05); /* Hover sırasında büyütme efekti */
}

/* Alt yazı (caption) stil */
.gallery-item p {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #333; /* Yazı rengi */
}

/* Static message */
#static-message {
  background-color: var(--background-color); /* Arka plan rengi */
  color: var(--primary-color); /* Metin rengi */
  padding: 15px; /* İçerik ile kenarlar arasında boşluk */
  border-radius: 5px; /* Köşeleri yuvarlatma */
  font-size: 1.2rem; /* Yazı boyutu */
  margin-bottom: 20px; /* Alt tarafa boşluk */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Hafif gölge */
}
#static-message i {
  color: var(--accent-color); /* Metin rengi */
}

/* Tablo stili */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: left;
}

table th,
table td {
  padding: 10px;
  border: 1px solid var(--border-color);
  color: var(--text3-color);
}

table th {
  background-color: var(--primary-color);
  color: var(--text-color);
}

table tr:nth-child(even) {
  background-color: var(--background-color);
  color: var(--text2-color);
}

table caption {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
  color:var(--text2-color)
}

/* Zurück düğmesinin stilleri */
#back-button-top,
#back-button-bottom {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--button-bg-color, #4caf50);
  color: var(--button-text-color, white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#back-button-top:hover,
#back-button-bottom:hover {
  background-color: var(--button-hover-bg-color, #45a049);
}

/* Düğme gizleme */
.hidden {
  display: none;
}

/* PDF Dosyaları Kart Görünümü */
.pdf-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 10px;
  background-color: var(--background-color);
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.pdf-item:hover {
  background-color: var(--background-hover-color); /* Hover sırasında arka plan */
}

.pdf-item .pdf-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pdf-item .pdf-icon img {
  width: 24px;
  height: 24px;
}

.pdf-item .pdf-title {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text3-color);
  flex: 1;
}

.pdf-item .download-icon {
  font-size: 1.5rem;
  color: var(--primary-color);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.pdf-item .download-icon:hover {
  transform: scale(1.1); /* Hover sırasında büyütme efekti */
}


/* Responsive düzenlemeler */
@media (max-width: 768px) {
  .container {
    padding: 10px; /* Üst ve alt boşluk */
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
  }
  .sidebar ul li {
    margin-bottom: 5px; /* Daha fazla boşluk */
  }

/* Content area stil */
  .content-area {
    width: 100%;
    padding: 10px;
    margin:0;
  }

  
  .content-area ol {
    margin-bottom: 10px;
    padding-left: 15px; /* Liste elemanlarına biraz iç boşluk ekler */
  }
  
  .content-area img {
    width: 80%;
    max-width: 90%;
    margin-bottom: 10px;
  }


  /* Ürün resimleri galerisi - Mobilde iki sütun */
  .product-images div {
    flex: 1 1 calc(50% - 10px);
  }

  #static-message {
    padding: 15px; /* İçerik ile kenarlar arasında boşluk */
    font-size: 0.8rem; /* Yazı boyutu */
    margin-bottom: 10px; /* Alt tarafa boşluk */
  }

}

/* Ürün resimleri galerisi - Dar ekranlar için tam genişlik */
@media (max-width: 480px) {
  .product-images div {
    flex: 1 1 100%;
  }
}
